h1{
    text-align: center;
}
.szoveg{
margin-left: 15px;
margin-right: 15px;
margin-top: 20px;
text-indent: 30px;
text-align: justify;
}
#hiv:hover{
background-color:rgb(144, 169, 240);    
}

.image-container img {
    width: 100px;
  }